body {
  background : url(https://source.unsplash.com/random/1920x1080);
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size:cover;
  background-position: 50% 50%;
}
.content-wrap {
  opacity: 0.9;
}

.sidebar {
  opacity: 0.9;
}

.header-inner {
  background : rgba(254,67,101,0.8);
}

.popup {
  opacity: 0.9;
}
